header{
    background-image: radial-gradient(circle, #F4E4BA 0%, #d6d6d6 100%);
}
body {
    background-image: radial-gradient(circle, #F4E4BA 0%, #AF4D98 100%);}    
    
    a:hover{
   text-decoration: none   ;
}