.voyage-card-teaser {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: max-content;
    height: max-content;
    box-shadow: 10px 10px 5px #4C5684;
    border-radius: 15px;
    background-color: #ffffff;
    
    
}
.voyage-card-image{
    width: 250px;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
}
.voyage-card-nom {
    margin: 0;
    padding: 0;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #313845;
    
}
.voyage-card-nom p {
    text-decoration: none;
}
.voyage-card-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 15px;
    gap: 30px;
    color: #313845;
    border-bottom: none;
}

.button {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4C5684;
    color: #ffffff;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    text-decoration-style: none;
}
