.voyage-card-teaser {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: max-content;
    height: max-content;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 15px;
    
}
.voyage-card-image{
    width: 250px;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
}
.voyage-card-nom {
    margin: 0;
    padding: 0;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    
    
    
}
.voyage-card-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 15px;
    gap: 30px;
}