.voyage-card-teaser {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: max-content;
    height: max-content;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;

    .voyage-card-description{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .voyage-card-nom {
            margin: 0;
            padding: 0;
            width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bold;
            font-size: 32px;
        }
        .voyageCardImage{
            width: 250px;
            height: 250px;
        }
        }
    }
