.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 10px 20px;
    

    .logo {
        margin: 0;
        font-size: 32px;
        font-weight: bold;
        width: 50px;
        height: 50px;
    }

    .navigation {
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}